<%= cell(
  "decidim/locations/map",
  answer.question.answer_options,
  select_location: true
)
%>

<div class="answer-options-collection">
  <% answer.question.answer_options.each_with_index do |answer_option, idx| %>
    <% choice = answer.selected_choices.find { |choice| choice.answer_option_id == answer_option.id } %>

    <div class="collection-input">
      <%= label_tag do %>
        <%= check_box_tag "questionnaire[responses][#{answer_idx}][choices][#{idx}][body]",
          answer_option.body,
          choice.present?, disabled: disabled,
          style: "display: none;" %>

        <%= hidden_field_tag "questionnaire[responses][#{answer_idx}][choices][#{idx}][geojson]",
          answer_option.geojson, disabled: true %>
        <%= hidden_field_tag "questionnaire[responses][#{answer_idx}][choices][#{idx}][answer_option_id]",
          answer_option.id, disabled: true %>
      <% end %>
    </div>
  <% end %>
</div>
