<% answer_option = form.object %>

<div class="card questionnaire-question-location-option">
  <div class="card-divider">
    <h2 class="card-title">
    <span><%= t(".answer_option") %></span>
    <% if editable %>
      <button class="button small alert hollow remove-location-option button--title">
        <%= t(".remove") %>
      </button>
    <% end %>
    </h2>
  </div>

  <div class="card-section">
    <div class="row column">
      <%=
        form.translated(
          :text_field,
          :body,
          tabs_id: tabs_id_for_question_answer_option(question, answer_option),
          label: t(".statement"),
          disabled: !editable
        )
      %>
    </div>


    <div class="row column">
      <%=
        form.text_area(
          :geojson,
          tabs_id: tabs_id_for_question_answer_option(question, answer_option),
          label: t(".geojson"),
          disabled: !editable
        )
      %>
      <p class="help-text"><%= t(".geojson_help") %></p>
      <% if editable %>
        <%= form.button t(".define"), type: "button", class: "button small button--title location-option-define" %>
      <% end %>
    </div>

    <div class="row column">
      <%=
        form.select(
          :tooltip_direction,
          options_for_select(
            [
              [t(".left"), "left"],
              [t(".right"), "right"],
              [t(".top"), "top"],
              [t(".bottom"), "bottom"],
              [t(".center"), "center"]
            ],
            answer_option.tooltip_direction
          ),
          {},
          label: t(".tooltip_direction"),
          disabled: !editable
        )
      %>
    </div>
  </div>

  <% if answer_option.persisted? %>
    <%= form.hidden_field :id, disabled: !editable %>
  <% end %>

  <%= form.hidden_field :deleted, disabled: !editable %>
</div>
